@mixin min($breakpoint, $property: width) {
  @media screen and (min-#{$property}: #{$breakpoint}px) {
    @content;
  }
}

@mixin max($breakpoint, $property: width) {
  @media screen and (max-#{$property}: #{$breakpoint}px) {
    @content;
  }
}

@mixin min-max($bp-min, $bp-max, $prop-min: width, $prop-max: $prop-min) {
  @media screen and (min-#{$prop-min}: #{$bp-min}px) and (max-#{$prop-max}: #{$bp-max}px) {
    @content;
  }
}

// Small devices
@mixin sm {
  @media (min-width: 576px) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: 768px) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: 992px) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: 1600px) {
    @content;
  }
}

@font-face {
  font-family: "font-primary";
  src: url("./Geist-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "font-primary";
  src: url("./Geist-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "font-secondary";
  src: url("./VogreGustews-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
*,
:after,
:before {
  box-sizing: border-box;
}

.font-primary {
  font-family: "font-primary", sans-serif;
}
.font-secondary {
  font-family: "font-secondary", sans-serif;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: auto; /* Enable scrolling */
  font-family: "font-primary", sans-serif;
}

.ratio {
  position: relative;
  width: 100%;
  &::before {
    display: block;
    padding-top: var(--bs-aspect-ratio);
    content: "";
  }
  & > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
  }
}

#wrap-texture {
  display: flex;
  flex-direction: column; /* Stack planes vertically */
  justify-content: center;
  align-items: center;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

.plane {
  width: 100%;
  //   max-width: 320px;
  height: calc(50vw + 180px);
  margin: 20px 0; /* Add margin for spacing */
  z-index: 100;
}

.plane img {
  display: none; /* Hide the img element */
}

@media screen and (min-width: 576px) {
  .plane {
    height: 300px;
  }
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
  max-width: 1360px;
}

.row {
  --bs-gutter-x: 3rem;
  --bs-gutter-y: 2rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  & > * {
    flex: 0 0 auto;

    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: var(--bs-gutter-y);
  }
}

.col-md-6 {
  width: 100%;
  @include min(992) {
    width: 50%;
  }
}

.card {
  &-title {
    font-weight: 300;
    font-size: 24px;
    line-height: 1.3;
  }
  &-top {
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: flex;
    & > div {
      flex: 0 0 auto;
      width: 40%;
    }
    h4 {
      font-size: 14px;
      font-weight: 400;
      margin: 0 0 0px;
      line-height: 1;
    }
    p {
      margin: 0 0 5px;
    }
  }
  &-label {
    font-size: 14px;
    font-weight: 400;
  }
  &-img {
  }
}

.sec-listing {
  background-color: #000;
  padding: 60px 0;
  overflow: hidden;
  @include lg {
    padding: 100px 0;
  }

  .cover-img .title-wrap {
    flex: 1 0;
    width: 100%;
  }
  .count {
    flex: 0 0 auto;
    width: auto;

    font-size: 42px;
    color: rgba(255, 255, 255, 0.23);
    font-weight: 600;
  }

  .plane {
    border-radius: 32px;
    overflow: hidden;
    min-height: 400px;
    @include lg {
      height: 70vh;
    }
  }
  img {
    border-radius: 32px;
    overflow: hidden;
  }

  .row {
    --bs-gutter-x: 30px;
    @include lg {
      --bs-gutter-x: 100px;
    }
  }

  .col-left {
    flex: 0 0 auto;
    width: 100%;
    @include md {
      width: 40%;
      border-right: 1px solid rgba(255, 255, 255, 0.188);
    }
  }
  .col-right {
    flex: 0 0 auto;
    width: 100%;
    @include md {
      width: 60%;
    }
  }

  .title {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    margin-top: 0;
    @include lg {
      font-size: 41px;
    }
  }
  .description {
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    @include md {
      font-size: 18px;
    }
  }
}
.d-flex {
  display: flex;
}

.btn-primary {
  display: inline-block;
  background-color: #ff00ff;
  color: #fff;
  border-radius: 10rem;
  font-size: 14px;
  text-decoration: none;
  padding: 10px 22px;
  transition: 0.4s all ease;
  &:hover{
    background-color: #ca00ca;
  }
}
